.error-text {
    color: #dc3545;
    font-size: 0.85rem;
    margin-top: 3px;
    display: block;
    animation: fradeInOut 7s;
    opacity: 0;
}

@keyframes fradeInOut {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}

#charCounter {
    font-size: 0.85rem;
    display: block;
    margin-top: 5px;
}

input.valid, textarea.valid{
    border-color: #28a745;
}

input.error, textarea.error {
    border-color: #dc3545;
}

.succses-message {
    color: #28a745;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;

}

fieldset p {
    display: grid;
    justify-self: left;
}

fieldset p:last-of-type {
    display: flex;
    
}

@media (max-width: 460px){

    fieldset p:last-of-type {
    display: grid;
    justify-self: center;
    }
}
