.error-text {
    color: #dc3545;
    font-size: 0.85rem;
    margin-top: 3px;
    display: block;
    /*animation*/
}


#charCounter {
    font-size: 0.85rem;
}


.succses-message {
    color: #28a745;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    /*animation*/

}

