.error-text {
    color: #dc3545;
    font-size: 0.85rem;
    margin-top: 3px;
    display: block;
    animation: fradeInOut 7s; /*Animation, fades in and out*/
    opacity: 0; /*Start invisible*/
}

@keyframes fradeInOut {
  0%   { opacity: 0; }
  25%  { opacity: 1; }
  75%  { opacity: 1; }
  100% { opacity: 0; }
}

#charCounter {
    font-size: 0.85rem;
    display: block;
    margin-top: 5px;
}

input.valid, textarea.valid{
    border-color: #28a745;
}

input.error, textarea.error {
    border-color: #dc3545;
}

input:focus, #Message:focus {
    border: 3px solid rgb(0, 0, 255);
}

.succses-message {
    color: #28a745;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;

}

fieldset p {
    display: grid;
    justify-self: left;
}

#formBtn {
    display: flex;
    
}

/*Small screen*/
@media (max-width: 460px){

    #formBtn {
    display: grid;
    justify-self: center;
    }
}
