body{
    background-color: aliceblue;
}

.wrapper{
    
}
h1{font-size: 3em;}

h2{font-size: 2em;}

h3{font-size: 1.5em;}
p{font-size: 1.3em;}

nav{
    background-color: #a8c3ff;
    margin: 10px 0;
    border-radius: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}


nav ul li a{
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

nav a:hover{
    background-color: #6c9aff;
    color: white;
}

main{}

.about img{
    border-radius: 40px;
}


table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px 10px;
  font-size: 1.3rem;
}