body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    margin: 10px 20px;
}
h1{
    font-size: 3em;
    font-family: cursive;
    font-variant: petite-caps;
    animation: slide-in 1000ms; /*slides in 1 sek*/
}

@keyframes slide-in {
    from {
      transform: translateX(-100%); /*Starts outside screen*/
    }
    to {
      transform: translateX(0%); /*goes to original place*/
    }
  }


h2{
    font-size: 2em;
    margin: 30px 20px 20px;
}

h3{
    font-size: 1.5em;
    margin:  15px 20px;
}
p{
    font-size: 1.3em;
    margin: 10px 20px;
}

nav{
    background-color: #a8c3ff;
    margin: 10px 0;
    border-radius: 10px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px #3f51b5c7;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: unset;
}


nav ul li a{
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

nav a:hover{
    background-color: #6c9aff;
    color: white;
}

section{
    scroll-margin-top: 70px; /*so sticky nav do not cover the title when using nav to go to diffrent section*/
}

main{
    margin: 0 10px;
}


.about-layout{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#about img{
    border-radius: 40px;
    height: auto;
    
}

.about-layout h3{
    margin: 0 20px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 10px;
    font-size: 1.3rem;
    max-width: 550px;
    margin: 0 20px;
}


.place-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.place-right h2{
    margin-top: 0; /*put 0 on top so it will be the same hight as image*/
}

#intrest ul{
    font-size: 1.3em;
}

.hobbies-pic{
    display: flex;
    justify-content: center;
}

.hobbies-pic img{
    border-radius: 15px;
    box-shadow: 5px 6px 10px #616161;

}

.hobbies-pic figure {
    text-align: center;
}

.hobbies-pic figcaption {
    margin-top: 8px;
    font-size: 1.1rem;
    color: #2a2a2a;
}

fieldset{
    border-color: #a8c3ff;
    border-radius: 20px;
    background-color: #e8efff;
}

input:focus, #Message:focus {
  background-color: #c9c9c9;
}

#Name, #eMail{
    font-size: 1em;
    padding: 2px 10px;
    margin-top: 10px;
}

#Message{
    line-height: 3;
    width: 240px;
    height: 100px;
    padding: 2px 10px;
    font-size: 1em;
    margin-top: 10px;
}

#subBtn{
    background-color: #a8c3ff;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border-color: #6c9aff36;
}

#subBtn:hover{
    background-color: #6c9aff;
    color: white;
}

footer{
    margin: 0 10px;
}

.footer-info{
    display: flex;
    justify-content: center;
    
}

.footer-info a{
    margin: 10px 20px;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer-info a:hover{
    text-decoration: underline;
    
}


/**************** responsive design ***********************/
@media (max-width: 600px) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
        margin: 30px 20px 10px;
    }

    p {
    font-size: 1.1rem;
    }

    nav ul li a{
        font-size: 1.19em;
    }

    #about img{
        display: flex;
        justify-self: center;
    }
    .about-layout{
        display: inline-block;
    }

    .place-right{
        margin-top: 30px;
    }

    table, th, td{
        font-size: 1.1rem;
    }

    #intrest ul {
        font-size: 1.1rem;
    }

   .hobbies-pic {
        flex-wrap: wrap;
    }

    .hobbies-pic img{
        width: 100%;
        /* justify-self: anchor-center; */
    } 

    .footer-info a {
        font-size: 1.1rem;
    }

    fieldset p{
        margin: 20px;
    }

    #Message{
        width: 270px;
    }

    .footer-info {
        display: grid;
        justify-items: center;
    }

}

@media (max-width: 1220px) and (min-width:550px){
        
    .hobbies-pic {
        flex-wrap: wrap;
    }

    .hobbies-pic img{
        /* width: 100%; */
        /* justify-self: anchor-center; */
    }
}
    