body{
    background-color: aliceblue;
}

.wrapper{
    margin: 10px 20px;
}
h1{font-size: 3em;}

h2{
    font-size: 2em;
    margin: 30px 20px 20px;
}

h3{
    font-size: 1.5em;
    margin:  15px 20px;
}
p{
    font-size: 1.3em;
    margin: 10px 20px;
}

nav{
    background-color: #a8c3ff;
    margin: 10px 0;
    border-radius: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}


nav ul li a{
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

nav a:hover{
    background-color: #6c9aff;
    color: white;
}

main{}


.about-layout{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
#about img{
    border-radius: 40px;
    height: auto;
    
}

.about-layout h3{
    margin: 0 20px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px 10px;
    font-size: 1.3rem;
    max-width: 550px;
    margin: 0 20px;
}


.place-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#intrest ul{
    font-size: 1.3em;
}

fieldset{
    border-color: #a8c3ff;
    border-radius: 20px;
    background-color: #e8efff;
}


#Name, #eMail{
    font-size: 1em;
    padding: 2px 10px;
    margin-top: 10px;
}

#Message{
    line-height: 3;
    width: 240px;
    height: 100px;
    padding: 2px 10px;
    font-size: 1em;
    margin: 10px 0;
}

#subBtn{
    background-color: #a8c3ff;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border-color: #6c9aff36;
}

#subBtn:hover{
    background-color: #6c9aff;
    color: white;
}