body{
    background-color: aliceblue;
}

.wrapper{

}

nav{
    background-color: #a8c3ff;
    margin: 10px 0;
    border-radius: 10px;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}


ul li a{
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

nav a:hover{
    background-color: #6c9aff;
    color: white;
}

main{}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px 10px;
}